<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SubBuddy.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SubBuddy.Settings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Thumbnails" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SubscriptionType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Naming" serializeAs="String">
                <value>%name - %title - %id</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadQueue" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Async" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxDownloads" serializeAs="String">
                <value>3</value>
            </setting>
        </SubBuddy.Settings>
    </userSettings>
</configuration>